<md-dialog flex="50" aria-label="Order Tickets">
  <form ng-cloak ng-submit="submit()" enctype="multipart/form-data">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Buy Tickets</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
	<div class="md-dialog-content">
	   <md-input-container md-no-float="" class="md-block" layout="row">
                <label>Real Name</label>
                <input ng-model="request.name" type="text"/>
       </md-input-container>

        <md-input-container md-no-float="" class="md-block" layout="row">
            <label>Real Surname</label>
            <input ng-model="request.surname" type="text" />
        </md-input-container>

        <md-input-container md-no-float="" class="md-block" layout="row">
            <label>Tournament</label>
            <input ng-model="tournament.name" type="text" ng-disabled="true"/>
        </md-input-container>

        <md-input-container md-no-float="" class="md-block" layout="row">
            <label>World rating position</label>
            <input ng-model="request.position" type="text" />
        </md-input-container>

        <md-input-container md-no-float="" class="md-block" layout="row">
            <label>Skill confirmation</label>
            <input type="file" fileread="file"/>
        </md-input-container>

	</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
            <md-input-container layout="row" >
                <md-button type="submit" class="md-raised md-cornered md-accent md-primary">Apply</md-button>
            </md-input-container>
    </md-dialog-actions>
  </form>
</md-dialog>

