<md-dialog flex="50">
  <form ng-cloak ng-submit="submit()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Request info</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
	<div class="md-dialog-content">
        <div layout="column">
            <span class="md-subhead">Name: {{request.name}} </span>
            <span class="md-subhead">Surname: {{request.surname}} </span>
        </div>
        <br>
        <div layout="column">
            <span class="md-subhead">Position in world rating: {{request.position}} </span>
            <span class="md-subhead">Qualification confirmation: </span>
            <span ng-click="downloadConfirmation()"> View </span>
        </div>
	</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
            <md-input-container layout="row" >
                <md-button type="submit" class="md-raised md-cornered md-accent md-primary">Ok</md-button>
            </md-input-container>
    </md-dialog-actions>
  </form>
</md-dialog>

