<!DOCTYPE html>
<head>
    #parse("static/head.vm")
    #parse("static/navbar.vm")
    <title>Error</title>
</head>
<html>
<body>

<div class="container">
    <h1>This page doesn't exist</h1>
</div>

</body>
</html>