<!DOCTYPE html>
<head>
    #parse("static/head.vm")
    <title>Stroy Project X</title>
</head>
<body>

<div ng-controller="LoginController" ng-cloak ng-app="Login">
    <form action="/login" method="POST" class="form-signin">
        <md-card flex-offset="30" flex="40" class="md-whiteframe-7dp">
            <md-content class="md-no-momentum">

                <md-input-container class="md-block" layout="row"">
                    <md-icon md-svg-src='/resources/svg/mail.svg'></md-icon>
                    <label>Login</label>
                    <input name="username" type="text" ng-required="true">
                </md-input-container>

                <md-input-container class="md-block" layout="row">
                    <md-icon md-svg-src='/resources/svg/pin-code.svg'></md-icon>
                    <label>Password</label>
                    <input name="password" type="password" ng-required="true">
                </md-input-container>

                <md-input-container layout="row" layout-align="center">
                    <md-button type="submit" class="md-raised md-primary">Login</md-button>
                </md-input-container>

                <md-input-container layout="row" layout-align="center">
                    <a href="/login">Login with Facebook</a>
                </md-input-container>

            </md-content>
        </md-card>
    </form>
</div>

<script src="/resources/js/login/_module.js"></script>
<script src="/resources/js/login/login-controller.js"></script>
</body>