<!DOCTYPE html>
<head>
    #parse("static/head.vm")
    <title>Stroy Project X</title>
</head>
<body>

<div ng-controller="LoginController" ng-cloak ng-app="Login">
    <iframe name="hiddenFrame" class="hide"></iframe>
    <form  class="form-signin" target="hiddenFrame"  ng-submit="submit()"> <!--onsubmit="window.location.reload();"-->
        <md-card flex-offset="30" flex="40" class="md-whiteframe-7dp">
            <md-content class="md-no-momentum">
                <md-input-container class="md-block" layout="row"">
                    <md-icon md-svg-src='/resources/svg/mail.svg'></md-icon>
                    <label>Login</label>
                    <input name="username" type="text" ng-required="true" ng-model="user.username">
                </md-input-container>

                <md-input-container class="md-block" layout="row">
                    <md-icon md-svg-src='/resources/svg/pin-code.svg'></md-icon>
                    <label>Password</label>
                    <input name="password" type="password" ng-required="true" ng-model="user.password">
                </md-input-container>

                <input type="hidden" id="csrf" name="${_csrf.parameterName}" value="${_csrf.token}" style="display: none;" />

                <md-input-container layout="row" layout-align="center">
                    <md-button type="submit" class="md-raised md-primary">Login</md-button>
                </md-input-container>

                <md-input-container layout="row" layout-align="center">
                    <a href="/login">Login with Facebook</a>
                </md-input-container>

            </md-content>
        </md-card>
    </form>
</div>

<script src="/resources/js/login/_module.js"></script>
<script src="/resources/js/login/login-controller.js"></script>
</body>