<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ChessOrgHelper system.">

		#parse("static/head.vm")

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		
		<title>ChessOrgHelper</title>
	</head>

	<body>
		<div ng-cloak layout="column" id="content" ng-controller="CommonController as cc" ng-app="Common">
            <md-toolbar>
                <div class="md-toolbar-tools container">
                    <span>ChessOrg</span>

                    <!-- fill up the space between left and right area -->
                    <span flex></span>

                    <md-button class="md-cornered" href="/tournament_list"> Tournament List </md-button>
                    <md-button class="md-cornered" href="/statistics"> Statistics </md-button>
                    <md-button class="md-cornered" ng-disabled="true"> Profile </md-button>
                    <md-button class="md-cornered md-accent" ng-click="cc.logout()"> Logout </md-button>
				</div>
			</md-toolbar>

            <md-content layout-padding class="md-no-momentum">

			<div layout="row">

				<div layout="column" flex="50">
                    <span  md-colors="{color: 'accent'}" class="md-subhead">Profile settings</span>
					<md-input-container class="md-block" layout="row"">
						<label>Name</label>
						<input ng-model="user.name" type="text" ng-required="true" placeholder="$user.name">
					</md-input-container>
                    <md-input-container class="md-block" layout="row"">
						<label>Phone</label>
						<input ng-model="user.phone" type="tel" ng-required="true" placeholder="$user.phone">
                    </md-input-container>
                    <md-input-container class="md-block" layout="row"">
						<label>Email</label>
						<input ng-model="user.email" type="email" ng-required="true" placeholder="$user.email">
                    </md-input-container>
					<br>
					<br>
                    <span  md-colors="{color: 'accent'}" class="md-subhead">Password settings</span>
                    <md-input-container class="md-block" layout="row"">
                    <label>Enter password</label>
                    <input ng-model="oldPass" type="password"/>
                    </md-input-container>
                    <md-input-container class="md-block" layout="row"">
                    <label class="md-accent">Enter new password</label>
                    <input ng-model="newPass" type="password"/>
                    </md-input-container>
                    <md-input-container class="md-block" layout="row"">
                    <label>Enter new password again</label>
                    <input ng-model="anotherNewPass" type="password"/>
                    </md-input-container>
				</div>


				<div layout="column" flex="50" layout-align="start center">
					<span class="md-subhead md-accent" md-colors="{color: 'accent'}">Information</span>
					<span> You have $user.role priveleges</span>
				</div>

            </div>

					<md-input-container layout="row" layout-align="start">
						<md-button ng-click="updateProfile()" class="md-raised md-primary">Update profile</md-button>
					</md-input-container>

			</md-content>

		</div>
	</body>

    <script src="resources/js/common/_module.js"></script>
    <script src="resources/js/common/common-controller.js"></script>

</html>