<!DOCTYPE html>
<html>
<head>
    #parse("static/head.vm")
    <script src="/resources/js/register/_module.js"></script>
    <script src="/resources/js/register/register-controller.js"></script>
    <title>Register</title>
</head>
<body>

<div ng-controller="RegisterController" ng-cloak ng-app="Register">
    <md-card flex-offset="30" flex="40" class="md-whiteframe-7dp">
        <md-content class="md-no-momentum">

            <md-input-container md-no-float="" class="md-block" layout="row">
                <md-icon md-svg-src='/resources/svg/engineer.svg'></md-icon>
                <label>Login</label>
                <input ng-model="user.login" type="text" ng-required="true">
            </md-input-container>

            <md-input-container class="md-block" layout="row"">
                <md-icon md-svg-src='/resources/svg/mail.svg'></md-icon>
                <label>Email</label>
                <input ng-model="user.email" type="email" ng-required="true">
            </md-input-container>

            <md-input-container class="md-block" layout="row">
                <md-icon md-svg-src='/resources/svg/pin-code.svg'></md-icon>
                <label>Password</label>
                <input ng-model="user.password" type="password" ng-required="true">
            </md-input-container>

            <md-input-container layout="row" layout-align="center">
                <md-button ng-submit="submit()" class="md-raised md-primary">Register</md-button>
            </md-input-container>

        </md-content>
    </md-card>
</div>
</body>
</html>