<!DOCTYPE html>
<head>
	#parse("static/head.vm")
    <title>ChessOrgHelper</title>


</head>
<body>
<div ng-cloak ng-controller="CommonController as cc" ng-app="Common" >
  <md-toolbar>
    <div class="md-toolbar-tools container">
      <span>ChessOrg</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>

      <md-button class="md-cornered" href="/tournament_list"> Tournament List </md-button>
      <md-button class="md-cornered" href="/statistics" ng-disabled="true"> Statistics </md-button>
      <md-button class="md-cornered" href="/profile"> Profile </md-button>
    <md-button class="md-cornered md-accent" ng-click="cc.logout()"> Logout </md-button>

    </div>
  </md-toolbar>
    <div class="container" >
        <md-content class="md-no-momentum margin-top">
            <span class="md-title">Statistics</span>
            <md-input-container class="md-block" layout="row">
                <label>Select tournament</label>
                <md-select ng-model="id" ng-change="getTournamentById(id)">
                    #foreach($tournament in $tournaments)
                        <md-option ng-value="$tournament.id">
                            $tournament.name
                        </md-option>
                    #end
                </md-select>
            </md-input-container>
            <div ng-if="tournament !== undefined" layout="column">
                <span class="md-title"> {{tournament.name}} </span>
                <span class="md-subhead" md-colors="{color: 'accent'}"> {{tournament.country}}, {{tournament.city}} </span>
                <br>
                <span class="md-subhead"> Start date: {{tournament.startDate}} </span>
                <span class="md-subhead"> End date: {{tournament.endDate}} </span>
                <br>
                <div layout="row">
                    <div md-colors="{color: 'accent'}" flex="10">
                        Score
                    </div>
                    <div md-colors="{color: 'accent'}" flex="30">
                        Name
                    </div>
                    <div md-colors="{color: 'accent'}" flex="10">
                        Win count
                    </div>
                </div>
                <div ng-repeat="interested in tournament.interestedUsers | orderBy: rating | filter: { role: 'ROLE_PARTICIPANT'}">
                    <div layout="row">
                        <div flex="10">
                            {{interested.rating}}
                        </div>
                        <div flex="30">
                            {{interested.user.name}}
                        </div>
                        <div flex="10">
                            {{interested.winCount}}
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </md-content>
    </div>
</div>

<script src="resources/js/common/_module.js"></script>
<script src="resources/js/common/common-controller.js"></script>
</body>
