<!DOCTYPE html>
<head>
    #parse("static/head.vm")
    #parse("static/navbar.vm")
    <title>Stroy Project X</title>
</head>
<html>
<body>

<div class="container">
    <h1>Welcome to Stroy Project X!!</h1>
    <img src="/resources/img/dom.jpg">
</div>
</body>
</html>