<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ChessOrgHelper system.">
		
        <link rel="stylesheet" href="./styles/style.css" type="text/css">
		
		<script src="//code.angularjs.org/snapshot/angular.min.js"></script>
		<script src="scripts/ui.js"></script>
		
		<title>ChessOrgHelper</title>
	</head>

	<body style="background: #747474;">
		<div id="header">
			<div style="padding-left: 10%; padding-right: 10%;">
				<a href="index.html">
					<div id="headerLogo">
						<div style="font-weight: bold; display: inline-block">CHESS</div>
						ORG
					</div>
				</a>
				<div id="topMenu">
					<a href="tournament_list.html" class="topMenu_item" current>СПИСОК ТУРНИРОВ</a>
					<a href="schedule.html" class="topMenu_item">РАСПИСАНИЕ</a>
					<a href="stats.html" class="topMenu_item">СТАТИСТИКА</a>
					<a href="profile.vm" class="topMenu_item">ПРОФИЛЬ</a>
				</div>
			</div>
		</div>
		<div id="createBox" class="dialog">
			<p class="fieldsBlock_header">Первый всесоюзный шахматный турнир</p>
			<h1>Отборочный тур II этап</h1>
			<p class="fieldsBlock_header">четверг, 6 ноября 2016, 15:30</p>
			<p>Россия, Васюки</p>
			<p>ул. Ленина, д. 1</p>
			<div id="room0">
				<p class="fieldsBlock_header">Зал 1</p>
				<p>Иванов П. Х. - Петров Г. Ш.</p>
				<p>Иванов П. Х. - Петров Г. Ш.</p>
				<p>Иванов П. Х. - Петров Г. Ш.</p>
			</div>
			<div id="room1">
				<p class="fieldsBlock_header">Зал 2</p>
				<p>Иванов П. Х. - Петров Г. Ш.</p>
				<p>Иванов П. Х. - Петров Г. Ш.</p>
				<p>Иванов П. Х. - Петров Г. Ш.</p>
			</div>
		</div>
	</body>
</html>