<!DOCTYPE html>
<head>
	#parse("static/head.vm")
    <title>ChessOrgHelper</title>


</head>
<body>
<div ng-cloak ng-controller="CommonController as cc" ng-app="Common" >
  <md-toolbar>
    <div class="md-toolbar-tools container">
      <span>ChessOrg</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>

      <md-button class="md-cornered" ng-disabled="true"> Tournament List </md-button>
      <md-button class="md-cornered" href="/statistics"> Statistics </md-button>
      <md-button class="md-cornered" href="/profile"> Profile </md-button>
    <md-button class="md-cornered md-accent" ng-click="cc.logout()"> Logout </md-button>

    </div>
  </md-toolbar>
    <div class="container" >
        <md-content flex="65"  class="md-no-momentum margin-top">
        #if ($tournamentList.size() == 0)
            <span class="md-display-3"> No tournaments availabale </span>
            <br>
            #if ( $userRole == "ROLE_ORGANIZER" )
                <span class="md-subhead" >
                       Create it using CREATE TOURNAMENT button below.
                </span>
            #else
                 <span class="md-subhead" >
                       Wait while organizers will create something.
                 </span>
            <br>
            #end
        #else
            <div class="test_size_not_0"> </div>
            #foreach( $tournament in $tournamentList)

            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title"> $tournament.name </span>
                        <span class="md-subhead" md-colors="{color: 'accent'}"> $tournament.city </span>
                    </md-card-header-text>
                </md-card-header>
                    <md-card-content>
                    <div layout="row">
                        <div flex="70" layout="column">
                            <span class="md-subhead"> Start date: $tournament.startDate </span>
                            <span class="md-subhead"> End date: $tournament.endDate </span>
                        </div>
                        <div flex layout="column">
                            <span class="md-subhead"> Total participants: $tournament.participantsNum </span>
                            <span class="md-subhead"> Total spectators: $tournament.spectatorsNum </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div layout="column">
                        <span class="md-subhead"> Organizer: $tournament.chiefOrganizer.name </span>
                        <span class="md-subhead"> Email: $tournament.chiefOrganizer.email </span>
                        <span class="md-subhead"> Phone: $tournament.chiefOrganizer.phone </span>
                    </div>
                </md-card-content>
                <md-card-actions>
                    <div layout="row" layout-margin>
                         #if ( $userRole == "ROLE_ORGANIZER" )
                            <md-button flex="20" class="md-raised md-cornered md-accent" ng-click="goToParticipants($event, '$tournament.id')"> Participants </md-button>
                            <md-button flex="20" class="md-raised md-cornered md-accent" ng-click="goToHousings($event, '$tournament.id')"> Housing </md-button>
                            <md-button flex="20" class="md-raised md-cornered md-accent" ng-click="goToArenas($event, '$tournament.id')"> Arenas </md-button>
                         #end
                         #if ( $userRole == "ROLE_SPECTATOR")
                             <md-button flex="20" class="md-raised md-cornered md-accent" ng-click="showApplyDialog($event, '$tournament.id')"> Apply </md-button>
                             <md-button flex="20" class="md-raised md-cornered md-accent" ng-click="showBuyTicketsDialog($event, '$tournament.id')"> Buy tickets </md-button>
                         #end
                        <md-button flex="40" class="md-cornered" ng-click="goToSchedule('$tournament.id')"> Schedule </md-button>
                    </div>
                </md-card-actions>
            </md-card>
            #end
         #end
         #if ( $userRole == "ROLE_ORGANIZER" )
          <md-button class="md-raised md-cornered md-accent"  ng-click="showTournamentCreateDialog($event)">Create Tournament</md-button>
         #end
         </md-content>
    </div>
</div>

<script src="resources/js/common/_module.js"></script>
<script src="resources/js/common/common-controller.js"></script>
</body>
